<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Title</title>
</head>
<body>

<form action="{% url 'thanks_page' %}" method=" ">
    <label>Имя</label>
    <input name = "name">
    <label> Телефон </label>
    <input name="phone">
    <button type="submit">ОТПРАВИТЬ</button>
</form>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<h1>{{object_list}}</h1>

<!-- Write your comments here 
<table border="2">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Date</td>
        <td>Phone</td>
    </tr>

{% if object_list %}

{% for obj in object_list %}
    <tr>
        <td> {{obj.id}} </td>
        <td> {{obj.order_name}} </td>
        <td> {{obj.order_dt}} </td>
        <td> {{obj.order_phone}}  </td>
    </tr>

{% endfor %}
{% else %}
    Нет данных
{% endif %}
</table>
-->
</body>
</html>